In [46]:
#1
dict1 = {
    'name': 'Kisaki Tetta',
    'location': 'Tokyo',
    'age': 18 
}
name = dict1.get('name', )
name

'Kisaki Tetta'

In [47]:
#2
key = 'age'
if key in dict1:
    print("Yes")
else:
    print("No")

Yes

In [48]:
#3
len(dict1)

3

In [49]:
#4
dict1.keys()

dict_keys(['name', 'location', 'age'])

In [50]:
#5
dict1.values()

dict_values(['Kisaki Tetta', 'Tokyo', 18])

In [51]:
#6
dict2 = {
    'name': 'Takemitchy',
    'location': 'Shibuya',
    'power': 'courage'
}

merged = dict1 | dict2
merged

{'name': 'Takemitchy', 'location': 'Shibuya', 'age': 18, 'power': 'courage'}

In [52]:
#7
k = 'power'
dict2.pop(k)

'courage'

In [53]:
#8
dict3 = {
    'product': 'egg'
}
dict3.clear()
dict3

{}

In [54]:
#9
if len(dict1) == 0:
    print("Empty")
else:
    print("Not empty")

Not empty

In [55]:
#10
dict1.items()

dict_items([('name', 'Kisaki Tetta'), ('location', 'Tokyo'), ('age', 18)])

In [56]:
#11
dict2['location'] = 'Tokyo'
dict2

{'name': 'Takemitchy', 'location': 'Tokyo'}

In [57]:
#12
d = {
    "apple": 3,
    "banana": 5,
    "cherry": 5,
    "orange": 3
}

val = 5
count = sum(1 for v in d.values() if v == val)

print(count)

2

In [58]:
#13
old_dict = {'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}
 
new_dict = dict([(value, key) for key, value in old_dict.items()])
   
print(old_dict) 
 
for i in new_dict:
    print(i, " :  ", new_dict[i])

{'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}
67  :   G
23  :   H
45  :   C
56  :   D
12  :   E
69  :   F

In [59]:
#14
d = {'a': 1, 'b': 2, 'c': 3}

a = list(d.keys())
print(a)

['a', 'b', 'c']

In [60]:
#15
a = ["name", "age", "city"]
b = ["Alice", 30, "New York"]

res6 = dict(zip(a, b))

res6

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [61]:
#16
nested = {
    "fruit": {
        "apple": {
            "color": "red"
        }}}

color = nested["fruit"]["apple"]["color"]
color

'red'

In [62]:
#17
nested = {
    "fruit": {
        "apple": {
            "color": "red"
        }}}

color = nested["fruit"]["apple"]["color"]
color

'red'

In [63]:
#18

In [64]:
#19
len(sorted(old_dict))

8

In [65]:
#20
my_dict = {'b': 3, 'a': 2, 'c': 1}
sorted_dict = dict(sorted(my_dict.items()))
sorted_dict

{'a': 2, 'b': 3, 'c': 1}

In [66]:
#21
footballers_goals = {'Eusebio': 120, 'Cruyff': 104, 'Pele': 150, 'Ronaldo': 132, 'Messi': 125}

sorted_footballers_by_goals = sorted(footballers_goals.items(), key=lambda x:x[1])
print(sorted_footballers_by_goals)

[('Cruyff', 104), ('Eusebio', 120), ('Messi', 125), ('Ronaldo', 132), ('Pele', 150)]

In [67]:
#22
test_dict = {'Gfg' : 4, 'is' : 2, 'best' : 3, 'for' : 'geeks'}
print("The original dictionary : " + str(test_dict))
K = 3

res = {key : val for key, val in test_dict.items()
                   if type(val) != int or val > K}

print("Values greater than K : " + str(res))

The original dictionary : {'Gfg': 4, 'is': 2, 'best': 3, 'for': 'geeks'}
Values greater than K : {'Gfg': 4, 'for': 'geeks'}

In [68]:
#23
a = {"a": 1, "b": 2, "c": 3, "d": 4}
b = {"c": 3, "d": 4, "e": 5, "f": 6}

for key in a:
	if key in b:
		print(key, end=" ")

c d

In [69]:
#24
elements3 = ('Milk', (22)), ('Egg', (15))
dict(elements3)

{'Milk': 22, 'Egg': 15}

In [70]:
#25
first = next(iter(dict1))
first

'name'