In [3]:
#1
elements = [1, 10, 3, 80, 69, 3]
elements.count(3)

2

In [4]:
#2
sum(elements)

166

In [5]:
#3
min(elements)

1

In [6]:
#4 
max(elements)

80

In [7]:
#5
check = 3
if check in elements:
    print("Yes")
else: 
    print("No")

Yes

In [8]:
#6
elements = [1, 10, 3, 80, 69, 3]
elements[0]

1

In [9]:
#7
elements[-1]

3

In [10]:
#8
elements[:3]

[1, 10, 3]

In [11]:
#9
elements.reverse()
elements

[3, 69, 80, 3, 10, 1]

In [12]:
#10
sorted(elements, reverse=True)

[80, 69, 10, 3, 3, 1]

In [13]:
#11
list(set(elements))

[1, 3, 69, 10, 80]

In [14]:
#12
elements.insert(2, 100)
elements

[3, 69, 100, 80, 3, 10, 1]

In [15]:
#13
elements.index(100)

2

In [16]:
#14
bool(elements)

True

In [17]:
#15
even = 0
odd = 0

for num in elements:
    if num % 2 == 0:  
        even += 1
    else:  
        odd += 1

even

3

In [18]:
#16
even = 0
odd = 0

for num in elements:
    if num % 2 == 0:  
        even += 1
    else:  
        odd += 1

odd

4

In [19]:
#17
elements2 = [121, 222, 33, 45]
combined = elements + elements2
combined

[3, 69, 100, 80, 3, 10, 1, 121, 222, 33, 45]

In [20]:
#18
if elements2 in elements:
    print("Yes")
else:
   print("No")

No

In [21]:
#19
elements[2] = 90
elements

[3, 69, 90, 80, 3, 10, 1]

In [22]:
#20
elements.sort()
elements[-2]

80

In [23]:
#21
elements.sort()
elements[1]

3

In [24]:
#22
even = [x for x in elements if x % 2 == 0]
even

[10, 80, 90]

In [25]:
#23
odd = [x for x in elements if x % 2 != 0]
odd

[1, 3, 3, 69]

In [26]:
#24
len(elements)

7

In [27]:
#25
elements.copy()

[1, 3, 3, 10, 69, 80, 90]

In [28]:
#26?
if (len(elements2)%2==0):
    print(elements2[int(len(elements2)/2)-1], elements2[int(len(elements2)/2)])
else:
    print(elements2[int(len(elements2))])

222 33

In [29]:
#27
combined2 = [[1, 3, 3, 10, 69, 80, 90], [33, 45, 121, 222]]
list(map(max, combined2))

[90, 222]

In [30]:
#28
combined2 = [[1, 3, 3, 10, 69, 80, 90], [33, 45, 121, 222]]
list(map(min, combined2))

[1, 33]

In [31]:
#29
element_at_index = 5
if len(elements) > element_at_index:
    print(elements[element_at_index])
else:
    print("Index out of range")

80

In [32]:
#30
elements == sorted(elements, reverse=False)

True

In [33]:
#31
number = 4
elements = [1, 10, 3, 80, 69, 3]
new_lst = []
for i in elements:
    for _ in range(number):
        new_lst.append(i)
new_lst

[1,
 1,
 1,
 1,
 10,
 10,
 10,
 10,
 3,
 3,
 3,
 3,
 80,
 80,
 80,
 80,
 69,
 69,
 69,
 69,
 3,
 3,
 3,
 3]

In [34]:
#32
merged = sorted(elements+elements2)
merged

[1, 3, 3, 10, 33, 45, 69, 80, 121, 222]

In [35]:
#33
x = 3
indices = []
for i in range(len(elements)):
    if elements[i] == x:
        indices.append(i)
indices

[2, 5]

In [36]:
#34
rotated = elements[-1:] + elements[:-1]
rotated

[3, 1, 10, 3, 80, 69]

In [37]:
#35
range1 = 0
range2 = 10
lst = list(range(range1, range2)) 
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
#36
i = 0
x = [i for i in elements if i>0]
sum(x)

166

In [39]:
#37
i = 0
x = [i for i in elements if i<0]
sum(x)

0

In [40]:
#38
elements3 = [22, 15, 15, 22]
i = 0
palindrome = [i for i in elements3 if elements3 == elements3[::-1]]
palindrome

[22, 15, 15, 22]

In [41]:
#39
nested = []
for i in range(0,len(elements),2):
    nested.append([elements[i], elements[i+1]])

print(nested)

[[1, 10], [3, 80], [69, 3]]

In [42]:
#40
unique = list(set(elements))
unique

[1, 3, 69, 10, 80]