In [200]:
#1
set1 = {'a', 'b', 'c', 'd', 'a'}
set2 = {'a', 'z', 'x', 'b', 'y'}

set1.union(set2)

{'a', 'b', 'c', 'd', 'x', 'y', 'z'}

In [201]:
#2
set1.intersection(set2)

{'a', 'b'}

In [202]:
#3
set1.difference(set2)

{'c', 'd'}

In [203]:
#4
if set2 in set1: 
    print("Yes, it is subset")
else:
    print("No")

No

In [204]:
#5
k = 'a'
if k in set1:
    print("Exists")
else: 
    print("No")

Exists

In [205]:
#6
len(set1)

4

In [206]:
#7
lst = [1, 2, 2, 3, 4]
set(lst)

{1, 2, 3, 4}

In [207]:
#8
set3 = {1, 3, 4}
set3.remove(1)
set3

{3, 4}

In [208]:
#9
set4 = {1, 2, 3}
set4.clear()
set4

set()

In [209]:
#10
if set1 == {}:
    print("Empty")
else:
    print("Not empty")

Not empty

In [210]:
#11
set1.symmetric_difference(set2)

{'c', 'd', 'x', 'y', 'z'}

In [211]:
#12
set5 = {95, 96, 97, 98}
k = '1'
if k in set5:
    set5
else: 
    set5.add(k)
set5

{'1', 95, 96, 97, 98}

In [212]:
#13
set5.pop()

96

In [213]:
#14
max(set3)

4

In [214]:
#15
min(set3)

3

In [215]:
#16
res = {num for num in set3 if num % 2 == 0}
print(res)

{4}

In [216]:
#17
res2 = [num for num in set3 if num % 2 != 0]
print(res2)

[3]

In [217]:
#18
range1 = 0
range2 = 10
set6 = list(range(range1, range2)) 
set7 = set(set6)
set7

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [218]:
#19
a = [1, 2, 3, 4]  
b = [3, 4, 5, 6]  

res = list(set(a + b))  

print(res)

[1, 2, 3, 4, 5, 6]

In [219]:
#20
disjoint = set1.isdisjoint(set2)
disjoint

False

In [220]:
#21
c = [1, 1, 1, 2, 2]
list(set(c))

[1, 2]

In [221]:
#22
len(set(c))

2

In [222]:
#23
import random
for i in range(4, 15):
     y = random.randrange(9)
     print(y)

0
0
5
8
2
1
4
5
6
2
2