In [131]:
#1
elements = (22, 6, 8, 7, 40, 40, 60)
elements.count(40)

2

In [132]:
#2
max(elements)

60

In [133]:
#3
min(elements)

6

In [134]:
#4
check = 4
if check in elements:
    print("Yes")
else: 
    print("No")

No

In [135]:
#5
elements[0]

22

In [136]:
#6
elements[-1]

60

In [137]:
#7
len(elements)

7

In [138]:
#8
elements[:3]

(22, 6, 8)

In [139]:
#9
elements2 = (111, 222, 333, 111, 69)
combined = elements + elements2
combined

(22, 6, 8, 7, 40, 40, 60, 111, 222, 333, 111, 69)

In [140]:
#10
if elements == ():
    print("Empty")
else:
    print("Not empty")

Not empty

In [141]:
#11?
x = 60

indices = []
list(indices)
for i in range(len(elements)):
    if elements[i] == x:
        indices.append(i)
indices2 = tuple(indices)
indices2

(6,)

In [142]:
#12
sorted(elements, reverse=True)[1]

40

In [143]:
#13
sorted(elements, reverse=False)[1]

7

In [144]:
#14
single = (69,)

In [145]:
#15
lst_random = [1, 2, 3, 4, 5]
tuple(lst_random)

(1, 2, 3, 4, 5)

In [146]:
#16
elements == sorted(elements, reverse=False)

False

In [147]:
#17
sub = elements[:5]
max(sub)

40

In [148]:
#18
min(sub)

6

In [149]:
#19
elements = (22, 6, 8, 7, 40, 40, 60)
k = 40
lst_elements = list(elements)
lst_elements.remove(k)
remove_element = tuple((lst_elements))
remove_element

(22, 6, 8, 7, 40, 60)

In [150]:
#20 
nested = []
for i in range(0,len(elements)-1,2):
    nested.append((elements[i-1], elements[i]))
nested2 = tuple(nested)
print(nested2)

((60, 22), (6, 8), (7, 40))

In [151]:
#21
test_tup = (1, 3)
print("The original tuple : " + str(test_tup))
N = 4
res = [test_tup for i in range(N)]
res = tuple(res)
print("The duplicated tuple elements are : " + str(res))

The original tuple : (1, 3)
The duplicated tuple elements are : ((1, 3), (1, 3), (1, 3), (1, 3))

In [152]:
#22
range1 = 0
range2 = 10
lst = list(range(range1, range2)) 
lst2 = tuple(lst)
lst2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [153]:
#23
elements[::-1]

(60, 40, 40, 7, 8, 6, 22)

In [154]:
#24
elements3 = (22, 15, 15, 22)
i = 0
palindrome = (i for i in elements3 if elements3 == elements3[::-1])
palindrome2 = tuple(palindrome)
palindrome2

(22, 15, 15, 22)

In [155]:
#25
unique = tuple(set(elements))
unique

(6, 7, 8, 40, 22, 60)