## Loops

In [1]:
n = 10

while n <= 20:
    print("Executed. n =", n)
    n += 1

print("Outside loop")

Executed. n = 10
Executed. n = 11
Executed. n = 12
Executed. n = 13
Executed. n = 14
Executed. n = 15
Executed. n = 16
Executed. n = 17
Executed. n = 18
Executed. n = 19
Executed. n = 20
Outside loop

In [3]:
while True:
    print("Still running")
    break

Still running

break

In [4]:
cnt = 1

while True:
    print("cnt=", cnt)
    cnt += 1
    if cnt == 10:
        break

cnt= 1
cnt= 2
cnt= 3
cnt= 4
cnt= 5
cnt= 6
cnt= 7
cnt= 8
cnt= 9

continue

In [10]:
cnt = 1

while cnt < 20:
    cnt += 1
    if cnt in (10, 15, 20):
        continue
    print("cnt=", cnt)

cnt= 2
cnt= 3
cnt= 4
cnt= 5
cnt= 6
cnt= 7
cnt= 8
cnt= 9
cnt= 11
cnt= 12
cnt= 13
cnt= 14
cnt= 16
cnt= 17
cnt= 18
cnt= 19

In [16]:
l = [1, 2, 3]
i = 0
check_number = 6

i_list = []
while i < len(l):
    i_list.append(i)
    if l[i] == check_number:
        print("Found")
        break
    i += 1
else:
    print("Number not found")

print(i_list)

Number not found
[0, 1, 2]

In [14]:
l = [1, 2, 3]
i = 0
check_number = 2
while i < len(l):
    if l[i] == check_number:
        print("Found")
        break
    i += 1

print("Number not found")

Found
Number not found

## For Loop

In [2]:
my_list = [1, 2, 3]
other_list = []
i = 0
while i < len(my_list):
    a = my_list[i]
    other_list.append(a**2)
    i += 1

print(other_list)

[1, 4, 9]

In [5]:
other_list = []
for a in my_list:
    other_list.append(a ** 2)

print(other_list)

[1, 4, 9]

In [6]:
my_str = 'abcdefghi'
for char in my_str:
    print(char)

a
b
c
d
e
f
g
h
i

In [19]:
users = {'user1': 'John', 'user2': 'Adam', 'user3': 'Josh'}

for user in users:
    print(user, users[user])

user1 John
user2 Adam
user3 Josh

In [9]:
users.keys()

dict_keys(['user1', 'user2', 'user3'])

In [10]:
users.values()

dict_values(['John', 'Adam', 'Josh'])

In [20]:
users.items()

dict_items([('user1', 'John'), ('user2', 'Adam'), ('user3', 'Josh')])

In [11]:
users = {'user1': 'John', 'user2': 'Adam', 'user3': 'Josh'}

for user in users.values():
    print(user)

John
Adam
Josh

In [21]:
for key, value in users.items():
    print(key, value)

user1 John
user2 Adam
user3 Josh

In [13]:
users = [('user1', 'John'), ('user2', 'Adam'), ('user3', 'Josh')] # List of tuples

for user in users:
    print(user)

('user1', 'John')
('user2', 'Adam')
('user3', 'Josh')

In [18]:
users = [('user1', 'John'), ('user2', 'Adam'), ('user3', 'Josh')] # List of tuples

for key, user in users:
    print(key)

user1
user2
user3

In [14]:
a, b = ('user1', 'John')
print(a)
print(b)

user1
John

0 dan 100 gacha bo'lgan sonlarni consolga chiqaring

In [ ]:
print
id
type
len
round
pow
min
max
divmod
sum
range

In [25]:
r = range(100)
print(type(r))

<class 'range'>

In [28]:
l = list(r)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [30]:
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [33]:
for i in range(50, 100):
    print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [34]:
for i in range(50, 100, 2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [38]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [39]:
for i in range(1, 10, 0.1):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [40]:
i = 1
ilar = []
while i < 10:
    ilar.append(i)
    i += 0.1
print(ilar)

[1, 1.1, 1.2000000000000002, 1.3000000000000003, 1.4000000000000004, 1.5000000000000004, 1.6000000000000005, 1.7000000000000006, 1.8000000000000007, 1.9000000000000008, 2.000000000000001, 2.100000000000001, 2.200000000000001, 2.300000000000001, 2.4000000000000012, 2.5000000000000013, 2.6000000000000014, 2.7000000000000015, 2.8000000000000016, 2.9000000000000017, 3.0000000000000018, 3.100000000000002, 3.200000000000002, 3.300000000000002, 3.400000000000002, 3.500000000000002, 3.6000000000000023, 3.7000000000000024, 3.8000000000000025, 3.9000000000000026, 4.000000000000003, 4.100000000000002, 4.200000000000002, 4.300000000000002, 4.400000000000001, 4.500000000000001, 4.6000000000000005, 4.7, 4.8, 4.8999999999999995, 4.999999999999999, 5.099999999999999, 5.199999999999998, 5.299999999999998, 5.399999999999998, 5.499999999999997, 5.599999999999997, 5.699999999999997, 5.799999999999996, 5.899999999999996, 5.999999999999996, 6.099999999999995, 6.199999999999995, 6.2999999999999945, 6.399999999999994, 6.499999999999994, 6.599999999999993, 6.699999999999993, 6.799999999999993, 6.899999999999992, 6.999999999999992, 7.099999999999992, 7.199999999999991, 7.299999999999991, 7.399999999999991, 7.49999999999999, 7.59999999999999, 7.6999999999999895, 7.799999999999989, 7.899999999999989, 7.9999999999999885, 8.099999999999989, 8.199999999999989, 8.299999999999988, 8.399999999999988, 8.499999999999988, 8.599999999999987, 8.699999999999987, 8.799999999999986, 8.899999999999986, 8.999999999999986, 9.099999999999985, 9.199999999999985, 9.299999999999985, 9.399999999999984, 9.499999999999984, 9.599999999999984, 9.699999999999983, 9.799999999999983, 9.899999999999983, 9.999999999999982]

In [57]:
languages = ['Java', 'Python', 'JS']
versions = [14, 3, 6]

# Java 14
# Python 3
# JS 6

for i in range(len(languages)):
    print(languages[i], versions[i])

Java 14
Python 3
JS 6

In [58]:
for version, language in zip(versions, languages):
    print(language, version)

Java 14
Python 3
JS 6

In [62]:
a = zip(versions, language)
b = list(a)
b

[(14, 'J'), (3, 'S')]

In [60]:
versions

[14, 3, 6]

In [61]:
languages

['Java', 'Python', 'JS']

In [63]:
for i in range(10):
    for j in range(10):
        print(i, j)

0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 0
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9